@tailwind components;

@layer components {
  .mark {
    @apply bg-brand_tint text-brand px-1
  }
  
  .overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
  }
}